<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestaurantList</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.RestaurantListController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.IndexController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Restaurant</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.RestaurantController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsingRestaurant</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.AsingRestaurantController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddRestaurant</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.AddRestaurantController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDish</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.AddDishController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddManager</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.AddManagerController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.controllers.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestaurantList</servlet-name>
		<url-pattern>/restaurantList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Restaurant</servlet-name>
		<url-pattern>/restaurant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRestaurant</servlet-name>
		<url-pattern>/addRestaurant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDish</servlet-name>
		<url-pattern>/addDish</url-pattern>
	</servlet-mapping>

	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddManager</servlet-name>
		<url-pattern>/addManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsingRestaurant</servlet-name>
		<url-pattern>/asingRestaurant</url-pattern>
	</servlet-mapping>
	

</web-app>
